body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.paper{
    padding: 20px;
    height: 62vh;
    width: 400px;
    margin: 20px auto;
  }
  .loginimage{
    height: 100px;
    width: 100px;
  }
  .homeGrid{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0.125rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: #e2e8f0;
    --tw-shadow: var(--tw-shadow-colored);
  }